@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.masonry-column {
  padding-left: 16px;
  background-clip: padding-box;
}

.masonry-grid-item {
  margin-bottom: 16px;
  width: 100%;
}